<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="menu.css" rel="stylesheet" type="text/css" />
  <link href="cssoman.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Caveat">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather+Sans">
</head>

<body>
    <header>
        <div class="icon">
            <div class="row h-25">
            <div class="col-md-12">
                <a href="www.twitter.com"><img src="https://th.bing.com/th/id/OIP.KgLmbej5buXcs1tF_7Y1_gAAAA?pid=ImgDet&w=300&h=300&rs=1" alt="twitter" style="width:30px; margin: 0px 50px 0px 10px;" align="right"></a>
                <a href="www.facebook.com"><img src="https://th.bing.com/th/id/OIP.xdKs7OxN32gWCL03JYUf3QHaHa?pid=ImgDet&rs=1" alt="facebook" style="width:30px; margin-left:10px;" align = "right"></a>
                <a href="www.instagram.com"><img src="https://th.bing.com/th/id/OIP.incFBymNcooePgOaBQfdjgHaFj?pid=ImgDet&rs=1" alt="instagram" style="width:30px; margin:5px 0px 0px 10px;" align="right"></a>
            </div>
            </div>
        </div>
        <div class="head1">
            <div class="row h-50" id="hitam">
            <div class="col-md-3" id="logo">
                <img src="2-removebg-preview.png">
            </div>
            <div class="col-md-6" id=navbar>
                <ul>
                <li><a href="tes.html">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3" id=tambahan>
                <img src="https://th.bing.com/th/id/R.f29406735baf0861647a78ae9c4bf5af?rik=GKTBhov2iZge9Q&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_206976.png&ehk=gCH45Zmryw3yqyqG%2fhd8WDQ53zwYfmC8K9OIkNHP%2fNU%3d&risl=&pid=ImgRaw&r=0" alt="">
                <img src="https://i.pinimg.com/originals/32/ec/41/32ec417cc69bb561715e28850d947225.png" alt="basket">
                <button type="button" class="btn btn-light" >Log in</button>
            </div>
            </div>
        </div>
    </header>
    <section class="menu">
        <div class="container">
            <div class="judul mt-5 d-flex justify-content-center">
                <h1 class="ourmenu">Our Menu</h1>
            </div>
            <div class="d-flex justify-content-center">
                <h1 class="sub-judul">FOOD</h1>
            </div>
            <div class="row">
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="mam1.png" class="img-fluid">
                    <p>Egg and Cheese Muffin</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=826&t=st=1699429642~exp=1699430242~hmac=c00f9e719886ddb8ce96c76e0c3f1477aa4d959740331ed9453b9fbdfadc3266" class="img-fluid">
                    <p>Beef and Cheese Burger</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/hawaiian-pizza_1203-2455.jpg?w=900&t=st=1699429690~exp=1699430290~hmac=c7994b3ffa571fe0a80ef1183a1aafb073d8a5a31607334ec79fc049c13a23de" class="img-fluid">
                    <p>Hawaiian Pizza</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/fried-chicken-french-fries-white-plate_74190-4869.jpg?w=900&t=st=1699429703~exp=1699430303~hmac=ead267a417d39588f9bdd21dffca351deb52f5bd19ac3edc9a3db33147770d15" class="img-fluid">
                    <p>Chick n' Chips</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/comida-lifestyle-spaghetti-foodie-gastronomy_1350-47.jpg?w=900&t=st=1699429776~exp=1699430376~hmac=c51e97deda06afa066cdbc8828fb0920371de259c12caae32b41189245e398ba" class="img-fluid">
                    <p>Spaghetti</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/premium-photo/rice-beans-french-fries-beef-steak_432566-1078.jpg?w=900" class="img-fluid">
                    <p>Chicken with Rice & Chips</p>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h1 class="sub-judul">DRINK</h1>
            </div>
            <div class="row">
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/ice-falling-brown-drink_1194-1074.jpg?w=740&t=st=1699429869~exp=1699430469~hmac=7ea8b85d00069e73153e76bd48fb3f8bea2be1967a3ca8e3ef36d2ba4a0d6670" class="img-fluid">
                    <p>Iced Tea</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/delicious-iced-tea_144627-27240.jpg?w=740&t=st=1699429871~exp=1699430471~hmac=5874575dc50e14f483ffe3dde7b87a718d7a7822db8efc107f3308b96db2deba" class="img-fluid">
                    <p>Fresh Lemonade</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/fresh-cola-drink-glass_144627-16201.jpg?w=740&t=st=1699429875~exp=1699430475~hmac=c51e35b161b8beecfb6764b16d98404006f9d2acb0223bac942df68d90af03c7" class="img-fluid">
                    <p>Fuzzy Cola</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/cold-coffee_144627-22091.jpg?w=740&t=st=1699429948~exp=1699430548~hmac=48664685c4752b996151b6e65ab129ca2237b541a20cf5ae2e9d114b7b336d27" class="img-fluid">
                    <p>Breezing Choco-Coffee</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/cold-coffee_144627-22086.jpg?w=740&t=st=1699430022~exp=1699430622~hmac=3d12546e7b6d2295babe5dbfbc359a40cf51465c308d75fdbdb7e2a634f560c8" class="img-fluid">
                    <p>Cold Latte</p>
                </div>
                <div class="col-3 col-md-3 d-flex align-items-center flex-column">
                    <img src="https://img.freepik.com/free-photo/fresh-citrus-cocktail_144627-14637.jpg?w=740&t=st=1699430088~exp=1699430688~hmac=78e78526f93eb9304071c540b80aaeee3d2416ea6acbaa50160941342f4eda7e" class="img-fluid">
                    <p>Citrus Cocktail</p>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>